/* standaard voor de hele pagina */
html {
	height: 100%;
	min-width: 700px;
}

body {
	height: 100%;
}

header {
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: #BBBBBB;
}

p{
	text-align: center;
}

h1{
	font-size: 200%;
	text-align: center;
	margin: 5% 0;
}


	.scrollbar{
		height: 22%;
		width: 80%;
		overflow: auto;
		color: white;
		margin: 0 10% 0 10%;
		border-color: black;
		border-style: solid;
		border-width: 0px;
	}

	table{
		width:100%;
	}

	tr{
		height: 20%;
	}

	td{
		border-color: black;
		border-style: solid;
		border-width: 1px;
		padding: 2%;
		font-size: 2em;
	}

.kolom{
	float: left;
	width: 20%;
	height: 100%;
	background-color: #82CAFF;
}

div#wrapper{
	width: 100%;
	height: 100%;
}

.icons{
  text-align: center;
  margin: 0 0 20% 0;
}

.updates{
	margin: 20% 0 0 0;
}

.progress_bar {
	background-color: #cbcbcb; 
	border-radius: 13px; 
	padding: 3px;
}
.progress {
	background-color: #51A6E2;
	height: 20px;
	border-radius: 10px;
}
/* specifiek per kolom */
div#left{
        background-color: #005B9A;
}

	#column_lesson_photoshop{
		background-color: #0F4062;
		width:30%;
	}
	
	#column_progress_photoshop{
		background-color: #2D82BD;
	}

div#leftmiddle{
        background-color: #D85E29;
}

	#column_lesson_html_css{
		background-color: #A24117;
		width:30%;
	}
	
	#column_progress_html_css{
		background-color: #FB8654;
	}

div#middle{
        background-color: #AD1400;
}

	#column_lesson_flash{
		background-color: #7E0E00;
		width:30%;
	}
	
	#column_progress_flash{
		background-color: #D11A02;
	}
	
div#rightmiddle{
        background-color: #8C6793;
}

	#column_lesson_premiere_pro{
		background-color: #654A6B;
		width:30%;
	}
	
	#column_progress_premiere_pro{
		background-color: #B38ABA;
	}

div#right{
        background-color: #DDECEF;
}

a:link {color:white;text-decoration:none;}      /* unvisited link */
a:visited {color:white;text-decoration:none;}  /* visited link */
a:hover {color:white;text-decoration:none;}  /* mouse over link */
a:active {color:white;text-decoration:none;}  /* selected link */